<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <form method="POST">
                    <div class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    </div>
                    <div class="form-group">
                      <label for="email">Username : </label>
                      <input type="text" name="uname" class="form-control" id="uname">
                    </div>
                    <button type="submit" class="btn form-control btn-default">Login</button>
                </form>
                <div>Total Number of Queries:</div>
                <p id="numqueries">{{ data.numQueries }}</p>
            </div>
						<table>
                            {% for row in data %}
								<tr>
                                    {% set rowloop = loop %}
                                    <td id="query{{ loop.index }}"><a href="/query{{ row.id }}">{{ row.id }}</a></td>
                                    <td id="username">{{ row.userid }}</td>
                                    <td id="login{{ loop.index }}_time">{{ row.input }}</td>
                                    <td id="logout{{ loop.index }}_time">{{ row.result }}</td>
								</tr>
                            {% endfor %}
						</table>
            </div>
        </div>

</body>
</html>