<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <ul>
                    <li class="col-sm-6"><a href="/login" class="btn form-control btn-primary">Login</a></li>
                    <li class="col-sm-6"><a href="/register" class="btn form-control btn-primary">Register</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>